/* ヘッダー検索部 */
.header_search{
}

.header_form{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px gray;
}

.select{
    width: 15%;
    height:60%;
    border: none;/* 必要ならボーダーも消す */
    outline: none;/* カッコやアウトラインを消す */
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid lightgrey;
    text-align: center;
}

.select_tag{
    font-weight: bold;
    color: lightgray;
}

.search_icon{
    width: 10%;
    height: 40px;
}

.search_box{
    width: 70%;
    height: 40px;
    font-size: 100%;
    border: none;/* 必要ならボーダーも消す */
    outline: none;/* カッコやアウトラインを消す */
    border-radius: 5px 5px 5px 5px;

}

.search_button{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.material-icons.image.search {
    font-size: 150%;
    padding: 0% 1%;
    color:lightgray;
}

/** (親要素幅に対して)要素の折り返し **/
.shop_main{
    width: 100%;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* カード全体 */
.card{
    width:20%;
    margin:1% 1%;
    border-radius: 5% 5% 5% 5%;
    box-shadow: 5px 5px 5px gray;

}
/* イメージ */
.card__img img{
    width:100%;
    border-radius: 5% 5% 0% 0%;
}

/* 内容 */
/* .card__content{

} */
/* 店名 */
.card__content-shop{
    font-size: 20px;
    font-weight: 800;
    margin-left: 5%;
}
/* 地域・ジャンル */
.card__content-areaGenre{
    display: flex;
}

.card__content-p{
    margin-top: -5%;
    font-size: 15px;
    margin-left: 5%;
}

/* ボタン(配置) */
.card__content-cat{
    margin: 5% 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

/* ボタン（詳しく見る） */
.detail_btn{
    width:40%;
    background-color: rgb(0, 76, 255);
    border: 0px solid rgb(0, 76, 255);
    border-radius: 5px 5px;
    padding:auto;
}

.card_detail{
    color: white;
}

/* ボタン(お気に入り) */
.favorite_btn{
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.material-icons.image_red{
    font-size: 230%;
    color: red;
    background-color: rgba(0,0,0,0);
}

.material-icons.image_gray {
    font-size: 230%;
    color: lightgray;
    background-color: rgba(0, 0, 0, 0);
    border: 0% solid none;
}
