/* メニュー部分の共通表記 */

.top_header{
    width:100%;
}

.icon_header{
    margin-top: 3%;
    margin-left: 15%;

}

.x_line{
    background-color: rgb(0, 76, 255);
    width: 45px;
    height: 45px;
    font-size: 30px;
    text-align: center;
    border-radius: 5px 5px ;
    border-color: rgba(0, 0,0,0);
    box-shadow: 3px 3px 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* アイコンイメージ */
.material-icons.image {
    font-size: 110%;
    color: white;
}